.app.dark {
  --bg-color: #151529;
  --inverted-bg-color: #b6b6b6;
  --primary-color: #10dd10;
  --secondary-color: #04ff04;

  --inverted-primary-color: #4442b3;
  --inverted-secondary-color: #516deb;
}
